In [171]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\hp\\Desktop'

In [172]:
os.chdir('C:\\Users\\hp\\Desktop')

In [173]:
import pandas as pd
import numpy as np

In [174]:
file = ('dummySIH2.csv')
dummy = pd.read_csv(file)
dummy.head()

,Unnamed: 0,city,state,lat,lon,spirit,rationality,cer,sciinfo,rank,total,AgeCat
0,0,Kochi,Kerala,9.966667,76.233333,63.897534,85.637917,29.514755,29.428770,74,52.119744,2
1,1,Kolhapur,Maharashtra,16.700000,74.216667,86.994485,74.965154,23.486140,46.894723,376,58.085125,2
2,2,Allahabad,Uttar Pradesh,25.450000,81.850000,73.000875,64.903862,39.707962,77.080423,36,63.673280,2
3,3,Nizamabad,Telangana,26.050556,83.058889,79.322939,29.141537,31.705143,34.537176,359,43.676699,1
4,4,Kollam,Kerala,8.880556,76.591667,0.308357,25.345064,68.013340,54.510585,126,37.044336,0

In [204]:
#data for the grouped barchart(spirit of inquiry, rational thinking, causality, scientific information vs States)
data_groupedbar_soi_st = [go.Bar(x = dummy.state, y = dummy.spirit, name = 'Spirit of Inquiry'),
             go.Bar(x = dummy.state, y = dummy.total, name = 'Overall Scientific Temper')]
data_groupedbar_rt_st = [go.Bar(x = dummy.state, y = dummy.rationality, name = 'Rational Thinking'),
             go.Bar(x = dummy.state, y = dummy.total, name = 'Overall Scientific Temper')]
data_groupedbar_cer_st = [go.Bar(x = dummy.state, y = dummy.cer, name = 'Causality'),
             go.Bar(x = dummy.state, y = dummy.total, name = 'Overall Scientific Temper')]
data_groupedbar_si_st = [go.Bar(x = dummy.state, y = dummy.sciinfo, name = 'Scientific Information'),
             go.Bar(x = dummy.state, y = dummy.total, name = 'Overall Scientific Temper')]
data_groupedbar_all = [go.Bar(x = dummy.state, y = dummy.spirit, name = 'Spirit of Inquiry'),
                    go.Bar(x = dummy.state, y = dummy.rationality, name = 'Rational Thinking'),
                    go.Bar(x = dummy.state, y = dummy.cer, name = 'Causality'),
                    go.Bar(x = dummy.state, y = dummy.sciinfo, name = 'Scientific Information'),
                    go.Bar(x = dummy.state, y = dummy.total, name = 'Overall Scientific Temper')]

#layout for different grouped bar charts
layout_groupedbar_soi_st = go.Layout({'title' : 'Spirit of Inquiry vs Overall Scientific Temper',
                                                                  'xaxis' : {'title' : 'States'},
                                                                  'barmode' : 'group'})
layout_groupedbar_rt_st= go.Layout({'title' : 'Rational Thinking vs Overall Scientific Temper',
                                                                'xaxis' : {'title' : 'States'},
                                                                'barmode' : 'group'})
layout_groupedbar_cer_st= go.Layout({'title' : 'Causality vs Overall Scientific Temper',
                                                                'xaxis' : {'title' : 'States'},
                                                                'barmode' : 'group'})
layout_groupedbar_si_st= go.Layout({'title' : 'Scientific Information vs Overall Scientific Temper',
                                                                'xaxis' : {'title' : 'States'},
                                                                'barmode' : 'group'})
layout_groupedbar_all= go.Layout({'title' : 'Comparision between the performances on all the four categories of Questions',
                                                                'xaxis' : {'title' : 'States'},
                                                                'barmode' : 'group'})
def grouped_bar_plot_generator(data, layout):
    import plotly.offline as py
    import plotly.graph_objs as go
    fig = go.Figure(data, layout)
    py.plot(fig)

In [206]:
grouped_bar_plot_generator(data_groupedbar_rt_st, layout_groupedbar_rt_st)