In [1]:
#importing required libraries
import numpy as np
import pandas as pd
import requests
import json

In [29]:
#fetching the data
url = 'https://sih-temper-app.herokuapp.com/getuserdb'   #put the required url
JSONContent = requests.get(url).json()
content = JSONContent['table']

[['1', 'Kochi', 'Kerala', 2, 9.96667, 76.2333, 63.8975, 85.6379, 29.5148, 29.4288, 52.1197], ['10', 'Rajkot', 'Gujarat', 1, 25.7311, 75.5925, 75.699, 35.8605, 30.0506, 57.1767, 49.6967], ['100', 'Maheshtala', 'West Bengal', 0, 22.5086, 88.2532, 55.519, 22.3221, 31.9033, 31.6569, 35.3503], ['101', 'Vijayawada', 'Andhra Pradesh', 0, 16.5167, 80.6167, 43.8881, 34.85, 18.6698, 32.5454, 32.4883], ['102', 'Kamarhati', 'West Bengal', 1, 22.6711, 88.3747, 33.3868, 73.1442, 22.584, 63.5916, 48.1767], ['103', 'Jabalpur', 'Madhya Pradesh', 1, 23.1667, 79.95, 63.1925, 45.8085, 54.8753, 5.81294, 42.4223], ['104', 'Panipat', 'Haryana', 0, 29.3889, 76.9681, 41.1472, 46.5499, 24.9602, 37.4007, 37.5145], ['105', 'Junagadh', 'Gujarat', 2, 21.5167, 70.4667, 86.2766, 75.9766, 50.0446, 39.5123, 62.9525], ['106', 'Mira-Bhayandar', 'Maharashtra', 3, 19.2952, 72.8544, 70.5901, 62.04, 83.473, 73.4286, 72.3829], ['107', 'Alwar', 'Rajasthan', 2, 27.5667, 76.6, 88.9678, 37.9441, 58.5514, 77.0358, 65.6248], ['108', 'Nashik', 'Maharashtra', 1, 20.011, 73.7903, 74.2667, 5.4682, 49.9859, 39.0687, 42.1974], ['109', 'Vadodara', 'Gujarat', 1, 22.3, 73.2, 41.4861, 73.292, 44.1228, 20.9702, 44.9678], ['11', 'Patna', 'Bihar', 1, 23.3, 82.6667, 14.4247, 51.1899, 29.9625, 73.0476, 42.1561], ['110', 'Mysore', 'Karnataka', 2, 12.3072, 76.6497, 61.7409, 29.9523, 81.9477, 65.8187, 59.8649], ['111', 'Allahabad', 'Uttar Pradesh', 0, 25.45, 81.85, 28.3886, 43.1389, 32.8443, 6.96801, 27.835], ['112', 'Ranchi', 'Jharkhand', 1, 23.35, 85.3333, 31.4726, 28.0832, 50.3084, 80.6386, 47.6257], ['113', 'Jalandhar', 'Punjab', 1, 23.9, 78.4333, 79.2794, 25.4842, 25.9053, 58.6329, 47.3254], ['114', 'Bangalore', 'Karnataka', 2, 12.9833, 77.5833, 32.9467, 54.7868, 45.2262, 88.508, 55.3669], ['115', 'Pali', 'Rajasthan', 2, 29.85, 78.5439, 78.2026, 65.3313, 61.9109, 31.773, 59.3044], ['116', 'Begusarai', 'Bihar', 0, 25.4167, 86.1333, 36.4405, 8.38574, 17.5323, 64.8702, 31.8072], ['117', 'Karimnagar', 'Telangana', 2, 27.7974, 79.2581, 76.4079, 26.7096, 80.0409, 30.6363, 53.4487], ['118', 'Jalna', 'Maharashtra', 2, 24.0988, 79.2137, 49.3075, 64.2636, 83.0274, 34.8013, 57.85], ['119', 'Tumkur', 'Karnataka', 1, 13.3422, 77.1017, 72.1231, 33.8743, 22.9023, 48.7831, 44.4207], ['12', 'Ulhasnagar', 'Maharashtra', 2, 19.2167, 73.15, 54.8406, 46.9349, 72.792, 25.9881, 50.1389], ['120', 'Guwahati', 'Assam', 2, 26.1833, 91.7333, 59.5827, 79.0704, 75.0157, 54.3385, 67.0018], ['121', 'Gurgaon', 'Haryana', 1, 27.6928, 79.6766, 44.1165, 58.4531, 65.775, 30.3795, 49.681], ['122', 'Tirunelveli', 'Tamil Nadu', 2, 8.73333, 77.7, 56.0014, 46.982, 81.5173, 77.5552, 65.514], ['123', 'Bulandshahr', 'Uttar Pradesh', 2, 28.4, 77.85, 78.8831, 23.9701, 72.9503, 63.6129, 59.8541], ['124', 'Warangal', 'Telangana', 2, 18.0, 79.5833, 66.8729, 64.6383, 31.2304, 47.0909, 52.4581], ['125', 'Navi Mumbai', 'Maharashtra', 2, 19.033, 73.0297, 68.3078, 30.3121, 62.975, 47.3518, 52.2367], ['126', 'Chennai', 'Tamil Nadu', 0, 13.0833, 80.2833, 30.7274, 61.5556, 1.21686, 49.7624, 35.8156], ['127', 'Ambernath', 'Maharashtra', 2, 19.2016, 73.2005, 68.4421, 59.1618, 73.9983, 73.8164, 68.8547], ['128', 'Hyderabad', 'Telangana', 2, 17.3753, 78.4744, 80.3965, 69.3429, 32.1097, 26.999, 52.212], ['129', 'Kamarhati', 'West Bengal', 1, 22.6711, 88.3747, 25.1863, 48.8093, 48.5063, 72.8524, 48.8385], ['13', 'Gorakhpur', 'Uttar Pradesh', 1, 26.755, 83.3739, 42.1606, 32.9058, 55.3281, 63.2323, 48.4067], ['130', 'Patna', 'Bihar', 2, 23.3, 82.6667, 65.5424, 70.2805, 69.5947, 49.19, 63.6519], ['131', 'Chandrapur', 'Maharashtra', 2, 19.6, 83.8833, 52.585, 75.8907, 64.8302, 60.1097, 63.3539], ['132', 'Etawah', 'Uttar Pradesh', 2, 26.7769, 79.0239, 41.2444, 46.1313, 84.5407, 34.5996, 51.629], ['133', 'Kolhapur', 'Maharashtra', 1, 16.7, 74.2167, 68.9891, 0.586361, 63.3632, 49.4835, 45.6056], ['134', 'Hyderabad', 'Telangana', 0, 17.3753, 78.4744, 23.7115, 37.2737, 65.0021, 31.487, 39.3686], ['135', 'Saharanpur', 'Uttar Pradesh', 2, 29.9667, 77.55, 86.8966, 62.7684, 37.5344, 50.1265, 59.3315], ['136', 'Gopalpur', 'West Bengal', 2, 24.8333, 87.8, 60.5883, 35.1178, 86.2, 39.5259, 55.358], ['137', 'Rourkela', 'Orissa', 0, 22.2, 84.8833, 1.11245, 28.3691, 33.1751, 17.247, 19.9759], ['138', 'Gulbarga', 'Karnataka', 0, 17.3333, 76.8333, 69.1816, 4.62772, 22.5021, 44.8282, 35.2849], ['139', 'Rajahmundry', 'Andhra Pradesh', 2, 16.9833, 81.7833, 52.1883, 64.537, 43.2303, 48.6269, 52.1456], ['14', 'Amravati', 'Maharashtra', 2, 20.9333, 77.75, 35.7878, 83.1279, 70.9055, 36.2856, 56.5267], ['140', 'Tirupati', 'Andhra Pradesh', 1, 13.65, 79.4167, 86.0341, 35.9412, 34.8326, 33.483, 47.5727], ['141', 'Tirupur', 'Tamil Nadu', 1, 11.1, 77.35, 28.2022, 44.2246, 33.1396, 89.3213, 48.7219], ['142', 'Mau', 'Uttar Pradesh', 2, 25.9417, 83.5611, 67.0196, 54.5278, 82.734, 38.0609, 60.5856], ['143', 'Howrah', 'West Bengal', 2, 22.5892, 88.3103, 79.2362, 61.0508, 53.6914, 34.3024, 57.0702], ['144', 'Noida', 'Uttar Pradesh', 0, 28.5726, 77.3548, 32.3114, 29.8789, 24.2777, 31.5363, 29.5011], ['145', 'Navi Mumbai', 'Maharashtra', 1, 19.033, 73.0297, 82.785, 26.211, 47.2389, 27.1782, 45.8533], ['146', 'Firozabad', 'Uttar Pradesh', 1, 27.15, 78.4167, 52.0057, 22.1462, 38.1095, 49.6541, 40.4789], ['147', 'Kalyan-Dombivali', 'Maharashtra', 1, 19.2354, 73.1299, 69.8006, 39.5872, 39.744, 19.6524, 42.196], ['148', 'Meerut', 'Uttar Pradesh', 1, 28.9833, 77.7, 60.1796, 10.4633, 47.656, 70.369, 47.167], ['149', 'Thanjavur', 'Tamil Nadu', 1, 10.8, 79.15, 68.8369, 21.7875, 63.8661, 28.7061, 45.7991], ['15', 'Rajahmundry', 'Andhra Pradesh', 0, 16.9833, 81.7833, 33.3706, 33.6338, 9.98139, 23.5206, 25.1266], ['150', 'Nagercoil', 'Tamil Nadu', 2, 8.19389, 77.4314, 54.1949, 70.0746, 47.4734, 76.1776, 61.9801], ['151', 'Kakinada', 'Andhra Pradesh', 2, 16.9333, 82.2167, 20.1089, 71.2264, 86.7869, 43.4792, 55.4004], ['152', 'Dehradun', 'Uttarakhand', 0, 30.3256, 78.0437, 0.973971, 13.5881, 19.1357, 29.148, 15.7114], ['153', 'Mango', 'Jharkhand', 2, 13.2253, 79.1055, 40.2316, 55.1237, 86.597, 45.7419, 56.9236], ['154', 'Jalandhar', 'Punjab', 1, 23.9, 78.4333, 75.9753, 46.7445, 20.4915, 23.4588, 41.6675], ['155', 'Aurangabad', 'Maharashtra', 2, 26.596, 79.9701, 35.902, 65.1655, 78.8263, 77.6714, 64.3913], ['156', 'Bhatpara', 'West Bengal', 1, 22.8714, 88.4089, 39.2572, 40.0991, 28.0614, 69.9711, 44.3472], ['157', 'Tiruvottiyur', 'Tamil Nadu', 1, 13.1578, 80.3042, 33.7491, 34.8604, 73.3179, 41.7223, 45.9124], ['158', 'Kulti', 'West Bengal', 0, 23.7333, 86.85, 55.7993, 0.491412, 61.9498, 40.2733, 39.6285], ['159', 'Karnal', 'Haryana', 1, 29.6833, 76.9833, 66.2893, 44.7836, 21.4428, 42.7923, 43.827], ['16', 'Bhagalpur', 'Bihar', 2, 26.1697, 83.8728, 64.0854, 42.1466, 45.4421, 73.8464, 56.3801], ['160', 'Bhopal', 'Madhya Pradesh', 2, 23.2667, 77.4, 60.4241, 34.2963, 89.6088, 25.0737, 52.3507], ['161', 'Chandigarh', 'Chandigarh', 2, 30.7343, 76.7933, 62.7258, 56.7221, 57.4702, 61.3813, 59.5748], ['162', 'Pali', 'Rajasthan', 2, 29.85, 78.5439, 75.6705, 21.0539, 85.1415, 86.6046, 67.1176], ['163', 'Junagadh', 'Gujarat', 0, 21.5167, 70.4667, 60.0051, 36.2724, 20.7734, 37.2607, 38.5779], ['164', 'Belgaum', 'Karnataka', 0, 15.8667, 74.5, 31.2882, 40.4779, 30.2373, 37.7159, 34.9298], ['165', 'Sonipat', 'Haryana', 3, 28.9833, 77.0167, 89.2964, 59.9407, 72.8294, 72.7397, 73.7016], ['166', 'Visakhapatnam', 'Andhra Pradesh', 0, 17.7, 83.3, 1.11588, 46.5898, 66.2502, 1.59867, 28.8886], ['167', 'Asansol', 'West Bengal', 2, 24.2333, 87.2833, 67.9178, 48.5001, 86.3831, 40.9001, 60.9253], ['168', 'Bijapur', 'Karnataka', 0, 18.8, 80.8167, 50.2924, 32.2086, 20.4739, 38.7873, 35.4406], ['169', 'Mumbai', 'Maharashtra', 2, 18.975, 72.8258, 35.4689, 82.8774, 47.9279, 60.9762, 56.8126], ['17', 'Satna', 'Madhya Pradesh', 2, 24.5833, 80.8333, 55.9634, 59.3049, 71.2206, 50.7223, 59.3028], ['170', 'Chennai', 'Tamil Nadu', 2, 13.0833, 80.2833, 72.2837, 20.0313, 81.6044, 40.8071, 53.6816], ['171', 'Karawal Nagar', 'Delhi', 2, 28.7283, 77.2769, 24.98, 43.0385, 81.3724, 82.9424, 58.0833], ['172', 'Siliguri', 'West Bengal', 2, 26.7161, 88.4236, 37.9388, 79.8265, 79.9498, 43.466, 60.2953], ['173', 'Bihar Sharif', 'Bihar', 0, 25.1833, 85.5167, 51.2014, 49.008, 7.52593, 31.8181, 34.8884], ['174', 'Solapur', 'Maharashtra', 2, 17.6833, 75.9167, 57.2808, 61.6711, 42.1323, 51.3417, 53.1065], ['175', 'Jamnagar', 'Gujarat', 1, 22.4667, 70.0667, 2.42661, 53.135, 74.5384, 31.9713, 40.5178], ['176', 'Ratlam', 'Madhya Pradesh', 2, 23.3167, 75.0667, 82.0917, 60.4167, 25.2119, 81.0871, 62.2018], ['177', 'Sagar', 'Madhya Pradesh', 2, 22.0667, 82.0, 67.9008, 37.5721, 76.9935, 64.223, 61.6724], ['178', 'Bally', 'West Bengal', 2, 15.1667, 74.0333, 59.4671, 86.8455, 86.7144, 35.1916, 67.0546], ['179', 'Aurangabad', 'Maharashtra', 2, 26.596, 79.9701, 70.4365, 20.2559, 88.3856, 37.6648, 54.1857], ['18', 'Gulbarga', 'Karnataka', 2, 17.3333, 76.8333, 57.163, 32.7923, 57.3075, 82.8158, 57.5196], ['180', 'New Delhi', 'Delhi', 2, 28.6, 77.2, 70.1315, 32.751, 59.8185, 63.4671, 56.542], ['181', 'Thrissur', 'Kerala', 1, 10.5167, 76.2167, 83.2664, 20.6179, 35.8633, 36.1504, 43.9745], ['182', 'Hubballi-Dharwad', 'Karnataka', 1, 15.3647, 75.124, 68.5054, 32.1936, 41.5501, 46.2812, 47.1326], ['183', 'New Delhi', 'Delhi', 1, 28.6, 77.2, 53.7618, 51.3324, 23.2481, 66.2341, 48.6441], ['184', 'Ajmer', 'Rajasthan', 0, 26.45, 74.6333, 32.8097, 21.1439, 0.988232, 56.0225, 27.7411], ['185', 'Kurnool', 'Andhra Pradesh', 1, 15.8333, 78.05, 74.9106, 60.4251, 21.5223, 33.2526, 47.5276], ['186', 'Kota', 'Rajasthan', 1, 29.8253, 78.6714, 20.9324, 55.0926, 81.6131, 29.3586, 46.7492], ['187', 'Avadi', 'Tamil Nadu', 2, 13.1156, 80.1017, 25.4517, 62.5687, 74.1792, 74.534, 59.1834], ['188', 'Puducherry', 'Puducherry', 1, 11.93, 79.83, 69.0072, 30.7565, 11.1534, 63.9846, 43.7254], ['189', 'Nanded', 'Maharashtra', 1, 19.15, 77.3333, 48.5363, 61.2683, 30.1238, 59.3584, 49.8217], ['19', 'Faridabad', 'Haryana', 0, 28.4333, 77.3167, 62.9891, 40.3943, 23.6178, 21.1283, 37.0324], ['190', 'Gurgaon', 'Haryana', 2, 27.6928, 79.6766, 78.3938, 63.7511, 50.2793, 33.633, 56.5143], ['191', 'Thiruvananthapuram', 'Kerala', 1, 8.50694, 76.9569, 48.5662, 50.8833, 53.55, 43.438, 49.1094], ['192', 'Kolkata', 'West Bengal', 2, 22.5697, 88.3697, 77.9894, 52.2506, 63.4999, 67.4982, 65.3095], ['193', 'Vasai-Virar', 'Maharashtra', 1, 19.4259, 72.8225, 25.2885, 21.4369, 87.3751, 50.5316, 46.158], ['194', 'Parbhani', 'Maharashtra', 2, 19.2667, 76.7833, 48.2227, 72.8274, 66.7018, 32.9524, 55.1761], ['195', 'Jamnagar', 'Gujarat', 2, 22.4667, 70.0667, 43.3223, 63.3661, 54.4805, 65.1644, 56.5833], ['196', 'Malegaon', 'Maharashtra', 2, 20.55, 74.5333, 51.3578, 46.9497, 57.7062, 55.8369, 52.9626], ['197', 'Faridabad', 'Haryana', 1, 28.4333, 77.3167, 61.1484, 55.8937, 33.4386, 28.3854, 44.7165], ['198', 'Delhi', 'Delhi', 2, 28.6667, 77.2167, 65.8073, 51.6942, 62.8361, 84.303, 66.1602], ['199', 'Jamshedpur', 'Jharkhand', 2, 22.8, 86.1833, 53.3186, 71.2951, 34.1502, 49.2696, 52.0083], ['2', 'Kolhapur', 'Maharashtra', 2, 16.7, 74.2167, 86.9945, 74.9652, 23.4861, 46.8947, 58.0851], ['20', 'Shivamogga (Shimoga)', 'Karnataka', 2, 13.9299, 75.5681, 61.1969, 52.4351, 69.4928, 27.0404, 52.5413], ['200', 'Sikar', 'Rajasthan', 2, 27.6167, 75.15, 67.417, 87.366, 68.7624, 43.678, 66.8058], ['201', 'Bilaspur', 'Chhattisgarh', 2, 22.0833, 82.15, 43.8337, 79.6509, 20.8858, 63.6764, 52.0117], ['202', 'Tirupati', 'Andhra Pradesh', 1, 13.65, 79.4167, 27.5829, 61.3011, 45.5241, 63.9324, 49.5851], ['203', 'Jaipur', 'Rajasthan', 1, 24.5833, 86.85, 29.3511, 61.2016, 36.4718, 48.1696, 43.7985], ['204', 'Agra', 'Uttar Pradesh', 2, 27.1833, 78.0167, 51.009, 52.6002, 75.4132, 26.9987, 51.5053], ['205', 'Latur', 'Maharashtra', 2, 18.4, 76.5833, 31.5193, 88.192, 77.2564, 43.9371, 60.2262], ['206', 'Davanagere', 'Karnataka', 1, 14.4597, 75.929, 79.4697, 39.9293, 20.3464, 26.6797, 41.6063], ['207', 'Hubballi-Dharwad', 'Karnataka', 2, 15.3647, 75.124, 53.7674, 22.8105, 76.0243, 77.611, 57.5533], ['208', 'Gandhidham', 'Gujarat', 2, 23.0833, 70.1333, 73.29, 28.4767, 61.0743, 70.8811, 58.4305], ['209', 'Cuttack', 'Orissa', 1, 20.5, 85.8333, 37.7135, 82.8484, 31.3641, 48.061, 49.9968], ['21', 'Ozhukarai', 'Puducherry', 2, 11.9489, 79.7121, 54.0132, 33.8139, 62.0813, 85.2528, 58.7903], ['210', 'Sri Ganganagar', 'Rajasthan', 2, 29.9167, 73.8833, 49.2342, 66.1865, 72.3858, 41.6961, 57.3756], ['211', 'Bellary', 'Karnataka', 2, 15.15, 76.9333, 60.0694, 73.9142, 32.1568, 50.1071, 54.0619], ['212', 'Bhiwandi', 'Maharashtra', 0, 19.3, 73.0667, 3.16218, 16.0297, 15.6219, 52.7264, 21.885], ['213', 'Baranagar', 'West Bengal', 2, 22.6433, 88.3653, 75.1389, 35.737, 61.2136, 69.7603, 60.4624], ['214', 'Anantapur', 'Andhra Pradesh', 2, 26.829, 79.5342, 81.2542, 33.8484, 58.1365, 84.3948, 64.4085], ['215', 'Shahjahanpur', 'Uttar Pradesh', 0, 27.8833, 79.9167, 10.1487, 19.7923, 53.3274, 32.49, 28.9396], ['216', 'Mumbai', 'Maharashtra', 0, 18.975, 72.8258, 21.8904, 48.9216, 14.2842, 4.17861, 22.3187], ['217', 'Pimpri-Chinchwad', 'Maharashtra', 1, 18.6279, 73.801, 54.6972, 58.543, 12.7148, 37.7444, 40.9249], ['218', 'Pune', 'Maharashtra', 1, 18.5333, 73.8667, 22.9043, 38.2919, 26.2575, 73.392, 40.2114], ['219', 'Bareilly', 'Uttar Pradesh', 2, 28.35, 79.4167, 62.0484, 30.3956, 59.2203, 85.1528, 59.2043], ['22', 'Kochi', 'Kerala', 3, 9.96667, 76.2333, 89.0466, 88.4038, 26.1132, 89.2761, 73.21], ['220', 'Bardhaman', 'West Bengal', 2, 23.2406, 87.8694, 58.3565, 63.4398, 69.4078, 21.8264, 53.2576], ['221', 'Panihati', 'West Bengal', 0, 22.6942, 88.3744, 16.1092, 67.4576, 11.0403, 33.0358, 31.9107], ['222', 'South Dumdum', 'West Bengal', 2, 22.61, 88.4, 89.6542, 41.971, 63.2412, 72.4175, 66.821], ['223', 'Sikar', 'Rajasthan', 2, 27.6167, 75.15, 26.0231, 85.5934, 20.7027, 85.4857, 54.4512], ['224', 'Surat', 'Gujarat', 2, 20.9667, 72.9, 42.6631, 48.2694, 74.1153, 71.6005, 59.1621], ['225', 'Jalgaon', 'Maharashtra', 2, 21.0486, 76.5344, 62.185, 44.0485, 25.9505, 70.1667, 50.5877], ['226', 'Jalna', 'Maharashtra', 1, 24.0988, 79.2137, 51.3516, 22.0822, 69.3101, 46.5959, 47.3349], ['227', 'Malegaon', 'Maharashtra', 2, 20.55, 74.5333, 52.5567, 41.6884, 60.971, 47.8732, 50.7723], ['228', 'Thoothukudi', 'Tamil Nadu', 2, 8.78333, 78.1333, 51.8346, 73.63, 75.9861, 21.9271, 55.8444], ['229', 'Davanagere', 'Karnataka', 0, 14.4597, 75.929, 26.1044, 37.9174, 39.2259, 41.2222, 36.1175], ['23', 'Jodhpur', 'Rajasthan', 1, 26.2867, 73.03, 81.4666, 53.4852, 23.6801, 38.7482, 49.345], ['230', 'Varanasi', 'Uttar Pradesh', 0, 25.3333, 83.0, 11.8504, 6.06126, 2.24434, 6.46706, 6.65577], ['231', 'Chandigarh', 'Chandigarh', 3, 30.7343, 76.7933, 87.4041, 89.9099, 59.834, 52.4915, 72.4099], ['232', 'Hapur', 'Uttar Pradesh', 2, 28.7167, 77.7833, 59.0012, 69.8144, 73.5037, 54.9881, 64.3268], ['233', 'Brahmapur', 'Orissa', 2, 19.3167, 84.7833, 70.0215, 39.4189, 82.6366, 77.6993, 67.4441], ['234', 'Bhavnagar', 'Gujarat', 3, 21.7667, 72.15, 82.6978, 85.178, 85.7806, 26.7956, 70.113], ['235', 'Bokaro', 'Jharkhand', 2, 23.7833, 85.9667, 79.6118, 50.9601, 77.2938, 45.4201, 63.3215], ['236', 'Ratlam', 'Madhya Pradesh', 1, 23.3167, 75.0667, 80.1746, 47.9034, 38.7816, 26.5799, 48.3599], ['237', 'Ujjain', 'Madhya Pradesh', 0, 23.1833, 75.7667, 12.7805, 33.7086, 26.7162, 15.6925, 22.2245], ['238', 'Raipur', 'Chhattisgarh', 1, 30.3167, 78.1, 29.6925, 60.4042, 23.2016, 63.7487, 44.2618], ['239', 'Katihar', 'Bihar', 0, 25.5333, 87.5833, 18.6566, 41.039, 46.7959, 48.1634, 38.6638], ['24', 'Bihar Sharif', 'Bihar', 1, 25.1833, 85.5167, 30.8091, 32.6146, 69.9507, 43.1029, 44.1193], ['240', 'Nagercoil', 'Tamil Nadu', 2, 8.19389, 77.4314, 55.7782, 62.0699, 70.2029, 21.4769, 52.382], ['241', 'Asansol', 'West Bengal', 0, 24.2333, 87.2833, 42.1938, 70.9851, 19.8873, 17.3643, 37.6076], ['242', 'Hapur', 'Uttar Pradesh', 2, 28.7167, 77.7833, 29.0568, 67.2119, 37.2535, 89.2235, 55.6864], ['243', 'Srinagar', 'Jammu and Kashmir', 0, 30.2167, 78.7833, 24.4274, 12.1668, 57.7932, 12.6674, 26.7637], ['244', 'Firozabad', 'Uttar Pradesh', 0, 27.15, 78.4167, 10.9153, 6.85938, 34.1756, 13.4383, 16.3472], ['245', 'Patiala', 'Punjab', 2, 30.3267, 76.4003, 80.4606, 47.7073, 82.5729, 57.7605, 67.1254], ['246', 'Gorakhpur', 'Uttar Pradesh', 1, 26.755, 83.3739, 30.5111, 68.7384, 28.9194, 39.6835, 41.9631], ['247', 'Srinagar', 'Jammu and Kashmir', 2, 30.2167, 78.7833, 68.8433, 74.5712, 22.6702, 41.2312, 51.829], ['248', 'Karimnagar', 'Telangana', 2, 27.7974, 79.2581, 54.4163, 32.0891, 83.9502, 83.2579, 63.4284], ['249', 'Darbhanga', 'Bihar', 2, 26.1667, 85.9, 56.9297, 68.939, 51.4563, 51.5475, 57.2181], ['25', 'Amritsar', 'Punjab', 2, 31.6331, 74.8656, 59.7835, 56.8756, 34.7702, 56.9023, 52.0829], ['250', 'Puducherry', 'Puducherry', 2, 11.93, 79.83, 74.8882, 23.2047, 66.4645, 67.686, 58.0608], ['251', 'Agra', 'Uttar Pradesh', 0, 27.1833, 78.0167, 66.844, 29.1825, 12.4101, 18.8228, 31.8148], ['252', 'Ulhasnagar', 'Maharashtra', 2, 19.2167, 73.15, 21.989, 80.016, 61.9809, 81.8307, 61.4541], ['253', 'Bhubaneswar', 'Orissa', 1, 20.2333, 85.8333, 69.9774, 30.6875, 53.0753, 27.228, 45.242], ['254', 'Ahmednagar', 'Maharashtra', 1, 19.0833, 74.7333, 50.2056, 57.1975, 31.1069, 54.1792, 48.1723], ['255', 'Vizianagaram', 'Andhra Pradesh', 3, 18.1167, 83.4167, 87.9725, 65.3376, 53.9644, 80.1644, 71.8597], ['256', 'Madurai', 'Tamil Nadu', 2, 9.93333, 78.1167, 83.2815, 35.5327, 40.5119, 86.0108, 61.3342], ['257', 'Bikaner', 'Rajasthan', 1, 28.0167, 73.3, 69.1066, 69.2736, 3.01341, 38.5315, 44.9813], ['258', 'Jammu', 'Jammu and Kashmir', 2, 32.7333, 74.8667, 67.872, 53.959, 61.9705, 68.2177, 63.0048], ['259', 'Shivamogga (Shimoga)', 'Karnataka', 2, 13.9299, 75.5681, 65.0406, 67.8678, 61.3116, 30.0318, 56.063], ['26', 'Vasai-Virar', 'Maharashtra', 1, 19.4259, 72.8225, 34.6717, 28.4019, 84.9528, 22.6579, 42.6711], ['260', 'Ghaziabad', 'Uttar Pradesh', 2, 28.6667, 77.4333, 66.315, 48.4857, 20.4996, 70.5273, 51.4569], ['261', 'Mau', 'Uttar Pradesh', 2, 25.9417, 83.5611, 23.0889, 42.6629, 88.0357, 51.0208, 51.2021], ['262', 'Kulti', 'West Bengal', 2, 23.7333, 86.85, 72.359, 34.4824, 61.4293, 40.7024, 52.2433], ['263', 'Kollam', 'Kerala', 2, 8.88056, 76.5917, 32.39, 76.1774, 68.1642, 72.7803, 62.378], ['264', 'Rampur', 'Uttar Pradesh', 2, 23.2833, 85.4333, 78.5158, 78.0688, 21.8244, 51.1944, 57.4008], ['265', 'Salem', 'Tamil Nadu', 2, 15.7, 73.9167, 20.443, 81.6455, 52.8284, 65.7109, 55.1569], ['266', 'Bangalore', 'Karnataka', 2, 12.9833, 77.5833, 76.6207, 58.79, 32.3698, 74.8477, 60.657], ['267', 'Bhiwandi', 'Maharashtra', 1, 19.3, 73.0667, 46.0027, 39.1639, 26.4533, 79.9245, 47.8861], ['268', 'Khammam', 'Telangana', 1, 17.25, 80.15, 80.8176, 45.8609, 47.1212, 21.8558, 48.9139], ['269', 'South Dumdum', 'West Bengal', 0, 22.61, 88.4, 19.151, 1.01778, 32.9038, 55.1314, 27.051], ['27', 'Katihar', 'Bihar', 1, 25.5333, 87.5833, 33.3548, 31.3179, 80.3485, 36.5961, 45.4043], ['270', 'Ahmednagar', 'Maharashtra', 2, 19.0833, 74.7333, 68.5011, 23.5349, 68.6257, 64.5301, 56.2979], ['271', 'Jalgaon', 'Maharashtra', 1, 21.0486, 76.5344, 41.2088, 21.7793, 56.7141, 55.2782, 43.7451], ['272', 'Mangalore', 'Karnataka', 1, 12.8639, 74.8353, 34.6698, 79.7369, 42.2268, 36.0299, 48.1658], ['273', 'Ambernath', 'Maharashtra', 3, 19.2016, 73.2005, 65.862, 49.2372, 79.2329, 85.6826, 70.0037], ['274', 'Amritsar', 'Punjab', 2, 31.6331, 74.8656, 37.5058, 57.086, 85.5671, 25.6722, 51.4578], ['275', 'Jamshedpur', 'Jharkhand', 1, 22.8, 86.1833, 63.5022, 29.3737, 17.4328, 69.6248, 44.9834], ['276', 'Guwahati', 'Assam', 2, 26.1833, 91.7333, 83.3158, 30.0898, 74.3132, 54.4598, 60.5446], ['277', 'Coimbatore', 'Tamil Nadu', 0, 10.9925, 76.9614, 7.57299, 33.3831, 65.9543, 13.2156, 30.0315], ['278', 'Durgapur', 'West Bengal', 2, 24.75, 87.7333, 42.6477, 30.1994, 69.748, 65.7385, 52.0834], ['279', 'Raipur', 'Chhattisgarh', 2, 30.3167, 78.1, 89.6969, 69.1367, 24.3751, 41.291, 56.1249], ['28', 'Aizawl', 'Mizoram', 1, 23.7244, 92.7175, 42.653, 82.4972, 30.3453, 30.8517, 46.5868], ['280', 'Bhilwara', 'Rajas

In [30]:
df = pd.DataFrame(content)

In [32]:
df.columns = ['UID', 'city', 'state', 'age_Range_id', 'latitude', 'longitude',
                   'sciinfo_score', 'soe_score', 'cer_score', 'rt_score', 'overall_rank']

In [34]:
df.head()

,UID,city,state,age_Range_id,latitude,longitude,sciinfo_score,soe_score,cer_score,rt_score,overall_rank
0,1,Kochi,Kerala,2,9.96667,76.2333,63.8975,85.6379,29.5148,29.4288,52.1197
1,10,Rajkot,Gujarat,1,25.73110,75.5925,75.6990,35.8605,30.0506,57.1767,49.6967
2,100,Maheshtala,West Bengal,0,22.50860,88.2532,55.5190,22.3221,31.9033,31.6569,35.3503
3,101,Vijayawada,Andhra Pradesh,0,16.51670,80.6167,43.8881,34.8500,18.6698,32.5454,32.4883
4,102,Kamarhati,West Bengal,1,22.67110,88.3747,33.3868,73.1442,22.5840,63.5916,48.1767

In [20]:
df2 = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])
df2

   A  B
0  1  2
1  3  4

In [18]:
df1.append(df2)

   A  B
0  1  2
1  3  4
0  1  2
1  3  4

In [5]:
x = pd.Series(dataset['table'][0])
temp = x.to_frame().transpose()

In [64]:
# # temp.columns = ['UID', 'city', 'state', 'age_Range_id', 'latitude', 'longitude',
#                    'sciinfo_score', 'soe_score', 'cer_score', 'rt_score', 'overall_rank']

In [6]:
temp

,0,1,2,3,4,5,6,7,8,9,10
0,1,Kochi,Kerala,2,9.96667,76.2333,63.8975,85.6379,29.5148,29.4288,52.1197

In [10]:
data = pd.DataFrame(columns=['UID', 'city', 'state', 'age_Range_id', 'latitude', 'longitude',
                   'sciinfo_score', 'soe_score', 'cer_score', 'rt_score', 'overall_rank'])
data.append(temp)
data

C:\Users\Ayush\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

Empty DataFrame
Columns: [UID, city, state, age_Range_id, latitude, longitude, sciinfo_score, soe_score, cer_score, rt_score, overall_rank]
Index: []

In [15]:
dataset

AttributeError: 'str' object has no attribute 'head'